<form action='/users' method='POST'>
  <p>
  Enter your email to make a new user
  </p>
  <% if false %>
  <% if user.id %>
    <input type="hidden" name="_method" value="PUT" />
  <% end %>
  <% end %>
  <input type='text' name='user[email]' value="<%= user.email %>"/><br />
  <input type='submit' id='sign_up_button'/>
</form>

